.welcome-video{
  width: 70%;
}

[data-controller="video"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: white;

  video {
    width: 100%;
    height: auto;
  }
}
.video-container{
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
}

  .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
  }
