.welcome-video{
  width: 70%;
}

[data-controller="video"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background: white;

  video {
    width: 100%;
    height: auto;
  }
}
.video-container{
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
}

  .play-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
  }

  .no-website-link{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
  }

  .heading-welcome-video{
    position: absolute;
    top: 28%;
    // left: 50%;
    // transform: translate(-20%, -50%);
    color: black;
    font-size: 22px;
    max-width: 435px;
    margin-bottom: 10px;
    margin-left: 8px;
    z-index: 10;
    // max-width: 300px;
  }

  @media (min-width: 750px) {
    .heading-welcome-video{
      position:absolute;
      margin-left: 20px;
      max-width: none;
    }
  }
